In [2]:
import pandas as pd

df = pd.read_csv("Dog Data all.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17840 entries, 0 to 17839
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              17840 non-null  int64
 1   id                      17840 non-null  int64
 2   organization_id         17840 non-null  object
 3   url                     17840 non-null  object
 4   type                    17840 non-null  object
 5   species                 17840 non-null  object
 6   breeds                  17840 non-null  object
 7   colors                  17840 non-null  object
 8   age                     17840 non-null  object
 9   gender                  17840 non-null  object
 10  size                    17840 non-null  object
 11  coat                    4167 non-null   object
 12  attributes              17840 non-null  object
 13  environment             17840 non-null  object
 14  tags                    17840 non-null  object
 15  name                    17840 non-null  object
 16  description             12023 non-null  object
 17  organization_animal_id  13110 non-null  object
 18  photos                  17840 non-null  object
 19  primary_photo_cropped   16266 non-null  object
 20  videos                  17840 non-null  object
 21  status                  17840 non-null  object
 22  status_changed_at       17840 non-null  object
 23  published_at            17840 non-null  object
 24  distance                0 non-null      float64
 25  contact                 17840 non-null  object
 26  _links                  17840 non-null  object
dtypes: float64(1), int64(2), object(24)
memory usage: 3.7+ MB

In [3]:
df_new = df[["species","breeds","colors","age","gender","size","coat","attributes","environment","tags","name"]]

In [117]:
##Data Wrangling

##Spliting breeds attribute to primary, secondary, mixed and unknown

ls = df_new["breeds"].str.split(",", expand=True)

ls.rename(columns = {0:'Primary_breed',
                     1:'Secondary_breed',
                     2:'Mixed_breed',
                     3:'Unknown_breed'}, 
            inplace = True)

ls["Primary_breed"] = ls["Primary_breed"].str.replace("{'primary':","", regex=True)

ls["Secondary_breed"] = ls["Secondary_breed"].str.replace("'secondary': ","", regex=True)

ls["Mixed_breed"] = ls["Mixed_breed"].str.replace("'mixed':","", regex=True)

ls["Unknown_breed"] = ls["Unknown_breed"].str.replace("'unknown': ","", regex=True)

ls["Unknown_breed"] = ls["Unknown_breed"].str.replace("}","", regex=True)

df1 = pd.concat([df_new, ls], axis=1, join="inner")

##Spliting colors attribute to primary, secondary, mixed and unknown

ls1 = df_new["colors"].str.split(":", expand=True)

ls1[1] = ls1[1].str.replace(", 'secondary'","", regex=True)
ls1[2] = ls1[2].str.replace(", 'tertiary'","", regex=True)
ls1[3] = ls1[3].str.replace("}","", regex=True)

ls1.rename(columns = {1:'Primary_color',
                     2:'Secondary_color',
                     3:'Tertiary_color'}, 
            inplace = True)

ls1.drop(columns=0, inplace=True)

df2 = pd.concat([df1, ls1], axis=1, join="inner")

##Spliting attributes to spayed_neutered, house_trained, declawed, special_needs and shots_current

ls2 = df2["attributes"].str.split(",", expand=True)

ls2[0]=ls2[0].str.replace("{'spayed_neutered':","", regex=True)
ls2[1]=ls2[1].str.replace("'house_trained':","", regex=True)
ls2[2]=ls2[2].str.replace("'declawed': ","", regex=True)
ls2[3]=ls2[3].str.replace("'special_needs': ","", regex=True)
ls2[4]=ls2[4].str.replace("'shots_current': ","", regex=True)
ls2[4]=ls2[4].str.replace("}","", regex=True)

ls2.rename(columns = {0:'spayed_neutered',
                     1:'house_trained',
                     2:'declawed',
                     3:'special_needs',
                     4:'shots_current'}, 
            inplace = True)

df3 = pd.concat([df2, ls2], axis=1, join="inner")

##Spliting environment to children, dogs and cats

ls3 = df3["environment"].str.split(",", expand=True)

ls3[0]=ls3[0].str.replace("{'children':","", regex=True)
ls3[1]=ls3[1].str.replace("'dogs': ","", regex=True)
ls3[2]=ls3[2].str.replace("'cats': ","", regex=True)
ls3[2]=ls3[2].str.replace("}","", regex=True)

ls3.rename(columns = {0:'env_children',
                     1:'env_dogs',
                     2:'env_cats'}, 
            inplace = True)

pets_data = pd.concat([df3, ls3], axis=1, join="inner")

pets_data.drop(columns=["breeds","colors","attributes","environment"], inplace=True)

pets_data["tags"] = pets_data["tags"].str.replace("\\[]","N/A",regex=True)

pets_data["coat"] = pets_data["coat"].fillna("N/A")

##Getting rid of name as it doesn't qualify for calculating associations
##species and declawed as no variation in data

pets_data.drop(columns=["name","species","declawed"], inplace=True)

pets_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17840 entries, 0 to 17839
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              17840 non-null  object
 1   gender           17840 non-null  object
 2   size             17840 non-null  object
 3   coat             17840 non-null  object
 4   tags             17840 non-null  object
 5   Primary_breed    17840 non-null  object
 6   Secondary_breed  17840 non-null  object
 7   Mixed_breed      17840 non-null  object
 8   Unknown_breed    17840 non-null  object
 9   Primary_color    17840 non-null  object
 10  Secondary_color  17840 non-null  object
 11  Tertiary_color   17840 non-null  object
 12  spayed_neutered  17840 non-null  object
 13  house_trained    17840 non-null  object
 14  special_needs    17840 non-null  object
 15  shots_current    17840 non-null  object
 16  env_children     17840 non-null  object
 17  env_dogs         17840 non-null  object
 18  env_cats         17840 non-null  object
dtypes: object(19)
memory usage: 2.6+ MB

In [118]:
df_dummy = pd.get_dummies(pets_data[['age', 'gender','size','coat','Primary_breed','Secondary_breed','Primary_color','Secondary_color']])

In [119]:
pets_data = pd.concat([df_dummy, pets_data], axis=1, join="inner")

pets_data.drop(columns=['age', 'gender','size','coat','Primary_breed','Secondary_breed','Primary_color','Secondary_color','tags'],
              inplace=True)

In [120]:
ls = ['Mixed_breed','Unknown_breed','Tertiary_color','spayed_neutered','house_trained','special_needs','shots_current','env_children','env_dogs','env_cats']

for i in ls:
    pets_data[i] = pets_data[i].str.strip().apply(lambda x: 1 if x=='True' else 0)

In [121]:
pets_data

,age_Adult,age_Baby,age_Senior,age_Young,gender_Female,gender_Male,size_Extra Large,size_Large,size_Medium,size_Small,...,Mixed_breed,Unknown_breed,Tertiary_color,spayed_neutered,house_trained,special_needs,shots_current,env_children,env_dogs,env_cats
0,0,1,0,0,0,1,0,0,0,1,...,1,0,0,1,0,0,1,1,1,1
1,0,1,0,0,0,1,0,0,0,1,...,1,0,0,1,0,0,1,1,1,1
2,0,1,0,0,1,0,0,0,0,1,...,1,0,0,1,0,0,1,1,1,1
3,0,1,0,0,1,0,0,0,0,1,...,1,0,0,1,0,0,1,1,1,1
4,1,0,0,0,1,0,0,0,0,1,...,1,0,0,1,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17835,0,0,0,1,0,1,0,1,0,0,...,1,0,0,1,0,0,1,0,1,0
17836,0,1,0,0,1,0,0,0,0,1,...,1,0,0,0,1,0,1,1,1,1
17837,0,1,0,0,1,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,0
17838,0,0,0,1,0,1,0,0,1,0,...,1,0,0,1,0,0,1,0,1,0
17839,0,0,0,1,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
##We go ahead with applying association rules using 20 attributes given above

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

# Please download this as a custom package --> type "apyori"
# To load custom packages, do not refresh the page. Instead, click on the reset button on the Console.

rules = apriori(pets_data, min_support = 0.09, min_confidence = 0.85, min_lift = 2, min_length = 2, use_colnames=True, verbose=1)

#Try many combinations of values to experiment with the model. 

#viewing the rule1
results = list(rules)

#Transferring the list to a table

results = pd.DataFrame(results)
results.head(20)